<a href="https://colab.research.google.com/github/ian-mutai0/Electric-car-usage-project/blob/main/Week4Independent_Project_SQL_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis using SQL : Electric Car Usage in France in the month of April 2018

# **Connecting to our SQL database**

In [1]:
# We first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
%sql sqlite://

'Connected: @None'

# **Importing relevant libraries into our notebook**

In [2]:
# We go ahead to import the pandas library
# We will use a function read_csv from pandas to read our electric car usage dataset
import pandas as pd

# **Reading the csv file into our environment**

In [3]:
with open('/content/Electric Car Usage.csv','r') as f:
    ElectricCar_Usage = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS ElectricCar_Usage;
%sql PERSIST ElectricCar_Usage;
%sql SELECT * FROM ElectricCar_Usage LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 'nonexistent', 'Paris', 'paris-suffren-2', 'STATION', 75015, 'Paris/Suffren/2', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43),
 ('145 Rue Raymond Losserand', 6, 0, 0, 0, 'operational', 'Paris', 'paris-raymondlosserand-145', 'STATION', 75014, 'Paris/Raymond Losserand/145', 'operational', 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24),
 ('2 Avenue John Fitzgerald Kennedy', 3, 0, 2, 0, 'operational', 'Le Bourget', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14),
 ('51 Rue EugÃ¨ne OudinÃ©', 3, 1, 0, 1, 'operational', 'Paris', 'paris-eugeneoudine-51', 'STATION', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37),
 ('6 avenue de la Porte de Champerret', 3, 0, 0, 0, 'nonexistent', 'Paris', 'paris-portedechamperret-6', 'PARKING', 75017, 'Paris/Porte de Champerret/6', 'operational', 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23)]

# **Answering the research questions**

## **Question 1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**

In [4]:
%%sql
SELECT hour from ElectricCar_Usage
WHERE "bluecar counter" = 0 and city = 'Paris' and status = "ok" and "rental status" = 'operational' and kind <> 'CENTER' and 'station type' <> "subs_center"
GROUP BY hour
ORDER BY count(hour) DESC
LIMIT 1;

 * sqlite://
Done.

[(2,)]

- Therefore we can determine that **hour 2 (2am)** was the most popular hour of the day for picking up a Bluecar in the city of Paris over the month of April 2018.

## **Question 2. What is the most popular hour for returning cars ?**

In [6]:
%%sql
SELECT count('bluecar counter'), hour from ElectricCar_Usage
WHERE city = 'Paris' and status = "ok" and "rental status" = 'operational' and kind <> 'CENTER' and 'station type' <> "subs_center"
GROUP BY hour
ORDER BY count('bluecar counter') DESC
LIMIT 1;

 * sqlite://
Done.

[(132, 21)]

- We can determine that **hour 21 (9pm)** was the most popular hour of the day for returning a Bluecar in Paris over the month of April 2018

## **Question 3. What station is the most popular?**

In [7]:
%%sql
SELECT "public name", count("public name"), city from ElectricCar_Usage
WHERE kind in ('STATION','SPACE') and "charging status" = 'operational' and "rental status" = 'operational' and "station type" <> 'subs_center' and status = 'ok' and "subscription status" = 'operational'
GROUP BY "public name" 
ORDER BY count("public name") DESC
LIMIT 1;

 * sqlite://
Done.

[('Paris/PyrÃ©nÃ©es/137', 7, 'Paris')]

- We can determine that the station **Paris/PyrÃ©nÃ©es/137 in Paris** is the most popular station.

## **Question 4. What station is the most popular at 2am(most popular picking hour)?**

In [8]:
%%sql
SELECT "public name", count("public name"), city from ElectricCar_Usage
WHERE hour = 2 and kind in ('STATION','SPACE') and "charging status" = 'operational' and "rental status" = 'operational' and "station type" <> 'subs_center' and status = 'ok' and "subscription status" = 'operational'
GROUP BY "public name" 
ORDER BY count("public name") DESC
LIMIT 1;

 * sqlite://
Done.

[('Paris/Parmentier/2', 1, 'Paris')]

- We can determine that the station **Paris/Parmentier/2** is the most popular station at 2am.