<a href="https://colab.research.google.com/github/ian-mutai0/Electric-car-usage-project/blob/main/Week4Independent_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 Independent Project

# **Importing the relevant libraries into our notebook**

In [2]:
# We first import the pandas library 
import pandas as pd

# We then import the numpy library
import numpy as np

# We also import matplotlib just incase we need to identify outliers
import matplotlib.pyplot as plt 
% matplotlib inline

# **Reading the Dataset from the URL**



* The dataset we will use for research and analysis   contains the station and electric car usage details in some of the major cities in France. 
*   The data was collected within a period of 9 days in the month of April 2018. 
*   The URL to be used to access our data file: [http://bit.ly/autolib_dataset]

In [3]:
# We first load the .csv file into our notebook using 
# the read_csv function
electric_car = pd.read_csv("http://bit.ly/autolib_dataset")

# Then we preview the first 10 records just to get a sense of what our data is about
electric_car.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [4]:
# We also go ahead to check the data types for the respective columns
electric_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# **Data Cleaning**

The data cleaning process follows five standard procedures:
- Validity - to check if the columns in our data file are useful or valid in our analysis
- Accuracy - to check if our data is accurate and makes sense logically and numerically
- Completeness - to check if our data has any null or missing values
- Consistency - to check if our data has any duplicate or redundant values
- Uniformity - to check if the columns in our data file are uniform i.e either lower or upper case

## **Validity**

In [5]:
# This involves dropping irrelevant data which we won't use in our analysis

# We drop the geo point column since it is not necessary in our analysis
electric_car.drop("Geo point", axis=1, inplace=True)

# We also drop the displayed comment column 
electric_car.drop("Displayed comment", axis=1, inplace=True)

# We also drop the scheduled at column 
electric_car.drop("Scheduled at", axis=1, inplace=True)

# We also drop the ID column since it is similar to the public name column
electric_car.drop("ID", axis=1, inplace=True)

# Since we already know that the data was collected within a period of 9 days 
# in the month of April 2018, we could as well create a column for date 
# which will concatenate the year, month and day columns into one
electric_car.loc[:,'Date'] = pd.to_datetime(electric_car.year.astype(str) + '-' + electric_car.month.astype(str) + '-' + electric_car.day.astype(str))
electric_car

# After that, we could drop the year, month, day and minute columns to make the data more valid
# since we've only been asked about the most popular hour
electric_car.drop(["year","month","day","minute"], axis=1, inplace=True)

In [6]:
# We then preview the data after dropping the invalid columns
electric_car

                                 Address  Cars  ...  hour       Date
0                    2 Avenue de Suffren     0  ...    11 2018-04-08
1              145 Rue Raymond Losserand     6  ...     7 2018-04-06
2       2 Avenue John Fitzgerald Kennedy     3  ...    20 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4 2018-04-04
4     6 avenue de la Porte de Champerret     3  ...    17 2018-04-08
...                                  ...   ...  ...   ...        ...
4995                 8 avenue MÃ©nelotte     2  ...    11 2018-04-06
4996                   37 rue de Dantzig     4  ...    16 2018-04-04
4997                      142 rue du Bac     1  ...     7 2018-04-01
4998         2 avenue du Val de Fontenay     2  ...    17 2018-04-04
4999                 5 Rue Henry Brisson     4  ...    10 2018-04-08

[5000 rows x 18 columns]

## **Accuracy**

In [7]:
# This involves checking whether the resources in our data file are accurate
# i.e cars, bluecar counter, utilib, utilib 1.4, charging slots and slots
electric_car["Cars"].sum() # The total number of cars is 11668
electric_car["Bluecar counter"].sum() # The total number of Bluecars is 11668

# This is just to confirm if the datafile is accurate 
# by checking if the sum of cars is equal to the sum of bluecars
# as explained in the description
Accuracy = electric_car["Cars"].sum() == electric_car["Bluecar counter"].sum()
Accuracy

True

## **Completeness**

In [8]:
# We confirm if the data file is complete by checking for null/missing values
electric_car.isnull().any()

# We can confirm that the datafile is complete since there are no missing values
# in any of the columns

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
hour                   False
Date                   False
dtype: bool

## **Consistency**

In [9]:
# We check for any duplicate values in our datafile
electric_car.duplicated().any()

# We can confirm that the datafile has no duplicate values
# We then remember that the cars column is similar to the bluecar counter column
# Thus we can drop the cars column since it makes our data file redundant
electric_car.drop("Cars", axis=1, inplace=True)

## **Uniformity**

In [10]:
# We go ahead to make sure all the column names are uniform
electric_car = electric_car.rename(columns = str.lower)
electric_car.head()

                              address  bluecar counter  ...  hour       date
0                 2 Avenue de Suffren                0  ...    11 2018-04-08
1           145 Rue Raymond Losserand                6  ...     7 2018-04-06
2    2 Avenue John Fitzgerald Kennedy                3  ...    20 2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4 2018-04-04
4  6 avenue de la Porte de Champerret                3  ...    17 2018-04-08

[5 rows x 17 columns]

# **Exporting our cleaned dataset into a csv file**

In [11]:
# We go ahead to export our cleaned dataset into a csv file 
# This allows us to work with the cleaned dataset in a different environment if need be
# We name the new csv file Electric Car Usage
electric_car.to_csv('Electric Car Usage.csv',index=False)

# **Data analysis using SQL**

## **Connecting to our SQL Database**

In [12]:
# We first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
%sql sqlite://

'Connected: @None'

## **Importing our clean dataset from the csv file for analysis**

In [13]:
with open('/content/Electric Car Usage.csv','r') as f:
    ElectricCar_Usage = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS ElectricCar_Usage;
%sql PERSIST ElectricCar_Usage;
%sql SELECT * FROM ElectricCar_Usage LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 'nonexistent', 'Paris', 'STATION', 75015, 'Paris/Suffren/2', 'operational', 2, 'station', 'ok', 'nonexistent', 11, '2018-04-08'),
 ('145 Rue Raymond Losserand', 6, 0, 0, 0, 'operational', 'Paris', 'STATION', 75014, 'Paris/Raymond Losserand/145', 'operational', 0, 'station', 'ok', 'nonexistent', 7, '2018-04-06'),
 ('2 Avenue John Fitzgerald Kennedy', 3, 0, 2, 0, 'operational', 'Le Bourget', 'STATION', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 1, 'station', 'ok', 'nonexistent', 20, '2018-04-03'),
 ('51 Rue EugÃ¨ne OudinÃ©', 3, 1, 0, 1, 'operational', 'Paris', 'STATION', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 2, 'station', 'ok', 'nonexistent', 4, '2018-04-04'),
 ('6 avenue de la Porte de Champerret', 3, 0, 0, 0, 'nonexistent', 'Paris', 'PARKING', 75017, 'Paris/Porte de Champerret/6', 'operational', 3, 'station', 'ok', 'nonexistent', 17, '2018-04-08')]

# **Answering the research questions**

## **Question 1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.**

In [14]:
%%sql
SELECT hour from ElectricCar_Usage
WHERE "bluecar counter" = 0 and city = 'Paris' and status = "ok" and "rental status" = 'operational' and kind <> 'CENTER' and 'station type' <> "subs_center"
GROUP BY hour
ORDER BY count(hour) DESC
LIMIT 1;

 * sqlite://
Done.

[(2,)]

- Therefore we can determine that **hour 2 (2am)** was the most popular hour of the day for picking up a Bluecar in the city of Paris over the month of April 2018.

## **Question 2. What is the most popular hour for returning cars ?**

In [21]:
%%sql
SELECT count('bluecar counter'), hour from ElectricCar_Usage
WHERE city = 'Paris' and status = "ok" and "rental status" = 'operational' and kind <> 'CENTER' and 'station type' <> "subs_center"
GROUP BY hour
ORDER BY count('bluecar counter') DESC
LIMIT 1;

 * sqlite://
Done.

[(132, 21)]

- We can determine that **hour 21 (9pm)** was the most popular hour of the day for returning a Bluecar in Paris over the month of April 2018

## **Question 3. What station is the most popular?**

In [25]:
%%sql
SELECT "public name", count("public name"), city from ElectricCar_Usage
WHERE kind in ('STATION','SPACE') and "charging status" = 'operational' and "rental status" = 'operational' and "station type" <> 'subs_center' and status = 'ok' and "subscription status" = 'operational'
GROUP BY "public name" 
ORDER BY count("public name") DESC
LIMIT 1;

 * sqlite://
Done.

[('Paris/PyrÃ©nÃ©es/137', 7, 'Paris')]

- We can determine that the station **Paris/PyrÃ©nÃ©es/137 in Paris** is the most popular station.

## **Question 4. What station is the most popular at 2am(most popular picking hour)?**

In [24]:
%%sql
SELECT "public name", count("public name"), city from ElectricCar_Usage
WHERE hour = 2 and kind in ('STATION','SPACE') and "charging status" = 'operational' and "rental status" = 'operational' and "station type" <> 'subs_center' and status = 'ok' and "subscription status" = 'operational'
GROUP BY "public name" 
ORDER BY count("public name") DESC
LIMIT 1;

 * sqlite://
Done.

[('Paris/Parmentier/2', 1, 'Paris')]

- We can determine that the station **Paris/Parmentier/2** is still the most popular station at 9pm.